 <div class="jumbotron">
  <div class="container text-center">
    <h1>My Portfolio</h1>      
    <%= form_tag vehicle_sheet_admin_vehicles_path, multipart: true do %>
  		<%= file_field_tag :file %>
  		<%= submit_tag "Import" %>
		<% end %>
    <p>Some text that represents "Me"...</p>
  </div>
</div>