<!-- <footer>
	<div class="footer">
	  <p>Posted by: Sahil Pruthi</p>
	  <p>Contact information: <a href="mailto:service@sonaac.com">service@sonaac.com</a>.</p>
	</div>
</footer> -->



<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>